.portada {
    width: 100%;
    
}

.portada-div {
    position: relative;
    background-color: #250071;
}

.sombreado {
    width: 100%;
    height: 100%;
    background: linear-gradient(322deg, rgba(31,41,55,1) 50%, rgba(9,9,121,0) 100%);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
}

.texto {
    width: 65%;
    padding: 20px;
    color: #a5f3fc;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    /*line-height: 50px;*/
    font-size: 20px;
}

section {
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.parrafos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    background-color: #22d3ee;
    border: none;
    border-radius: 10px;
    box-shadow: inset -55px -39px 106px -56px #0369a1;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    
}

@media (min-width: 640px) {
    .texto {
        font-size: 25px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .texto {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .texto {
        font-size: 35px;
    }
}