<app-layout-web>
    <div class="portada-div">
        <img src="assets/imgs/portada.png" alt="" class="portada">
        <div class="sombreado">
            <div class="texto">
                Crea avatares personalizados usando Inteligencia Artificial
            </div>
        </div>
    </div>
    <section>
        <div>
            <h2>¿Qué es IAvatar Studio?</h2>
            <div class="parrafos">
                <p>IAvatar Studio es una aplicación web, diseñada para crear avatares con el uso de la inteligencia artificial.</p>
                <p>Con una interfaz sencilla donde solo se necesita seleccionar como quiere que sea su avatar y darle a generar.</p>
            </div>      
        </div>

        <div>
            <h2>¿Qué necesito para usar IAvatar Studio?</h2>
            <div class="parrafos">
                <p>Solo es necesario tener una cuenta en IAvatar Studio para poder empezar a crear avatares online completamente gratis.</p>
                <p>Puede empezar a usar IAvatar studio a traves de los siguientes enlaces.</p>
                <div class="btns">
                    <a routerLink="/login"><button>Login</button></a>
                    <a routerLink="/register"><button>Registrarse</button></a>
                </div>
            </div>
        </div>

           
    </section>
</app-layout-web>

