h3 {
    color: #374151;
}

.flex-col {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

img {
    filter: invert(17%) sepia(94%) saturate(1606%) hue-rotate(208deg) brightness(94%) contrast(89%);
}