
.previsualizador {
    position: relative;
    width: 100%;
    border: 3px solid #262626;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.placeholder-img {
    width: 100%;
}

.pre-avatar {
    position: absolute;
    width: 100%;
    top: 0;
}

.pre-avatar img {
    position: absolute;
    top: 0;
    width: 100%;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.loading img {
    width: 15%;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.avatar-ia {
    position: absolute;
    width: 100%;
    top: 0;
}

.avatar-ia img {
    position: absolute;
    top: 0;
    width: 100%;
}

/* ANIMACION DE PANTALLA DE CARGA */
@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
} 
}

/* estilos de menu de categorias */

.container-categorias {
    display: flex;
    flex-wrap: wrap;
    background-color: #262626;
    border: 2px solid #171717;
    box-sizing: border-box;
}

.container-categorias div {
    color: white;
    cursor: pointer;
    padding: 20px;
    border-right: 2px solid #171717;
    border-bottom: 2px solid #171717;
    box-sizing: border-box;
}

.opcion-activa {
    background-color: #0891b2;
}



.container-opciones > div {
    padding: 10px 20px;
    border-bottom: 2px solid #171717;
    border-left: 2px solid #171717;
    border-right: 2px solid #171717;
    border-radius: 0 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e7e5e4;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.p20 {
    padding-top: 20px;
}

.btn-elec {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #171717;
    box-sizing: border-box;
    cursor: pointer;

}

.elecc-des img {
    width: 100%;
} 

.elecc-activa {
    border: 2px solid #0891b2 !important;
}

.negro {
    filter: invert(3%) sepia(97%) saturate(33%) hue-rotate(345deg) brightness(81%) contrast(106%);

}

.marron {
    filter: invert(34%) sepia(40%) saturate(535%) hue-rotate(350deg) brightness(95%) contrast(88%);
}

.rojo {
    filter: invert(13%) sepia(67%) saturate(6386%) hue-rotate(6deg) brightness(74%) contrast(118%);
}

.amarillo {
    filter: invert(63%) sepia(46%) saturate(1254%) hue-rotate(14deg) brightness(108%) contrast(109%);
}

.verde {
    filter: invert(45%) sepia(65%) saturate(4489%) hue-rotate(74deg) brightness(97%) contrast(103%);
}

.azul {
    filter: invert(13%) sepia(23%) saturate(7475%) hue-rotate(242deg) brightness(86%) contrast(132%);
}

.favorito svg {
    color: #f43f5e;
}

.no-favorito {
    color: #94a3b8;
}

.botones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-ver {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: #65a30d;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-ver:hover {
    outline: 3px solid #15803d;
    
}

.btn-ver:active {
    box-shadow: inset 43px 32px 61px -43px #a5f3fc;
    background-color: #0f172a;
}

.btn-fav {
    background-color: #0f172a;
    border: none;
    border-radius: 50%;
    padding: 9px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-fav:active {
    background-color: #1e40af;
}

.container-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


@media (min-width: 640px) {
    .previsualizador {
     
        width: 70%;

    }
}

@media (min-width: 768px) {

    .previsualizador {
     
        width: 60%;

    }
}

@media (min-width: 1024px) {

    .previsualizador {
     
        width: 50%;

    }
  
}