<div class="container-editor">
    <div class="previsualizador">
        <div >
            <img src="assets\imgs\ojos\cejas.png" alt="" class="placeholder-img">
        </div>


        <div class="pre-avatar">
           
            <!-- Partes de atras del pelo --> 
            <div class="fondo">
                <img class="pel-coleta part" src="assets\imgs\peinados\peinado-coleta-back.png" alt="">
                <img class="pel-largo-liso part" src="assets\imgs\peinados\peinado-largo-liso-back.png" alt="">
                <img class="pel-largo-rizado part" src="assets\imgs\peinados\peinado-largo-rizado-back.png" alt="">
            </div>

            <!-- torsos del avatar -->
            <div class="torso">
                <img class="tor-fem part" src="assets\imgs\cuerpos\torso-fem.png" alt="">
                <img class="tor-mas part" src="assets\imgs\cuerpos\torso-mas.png" alt="">
            </div>

            <!-- cabezas -->
            <div class="cabeza">
                <img class="cab-ancha part" src="assets\imgs\caras\cara-ancha.png" alt="">
                <img class="cab-fina part" src="assets\imgs\caras\cara-fina.png" alt="">
                <img class="cab-oval part" src="assets\imgs\caras\cara-ovalada.png" alt="">
                <img class="cab-redo part" src="assets\imgs\caras\cara-redonda.png" alt="">
            </div>

            <!-- ragos de la cara -->
            <div class="facciones">
                <!-- peinados -->
                <img class="pel-cor part" src="assets\imgs\peinados\peinado-corto.png" alt="">
                <img class="pel-riz part" src="assets\imgs\peinados\peinado-largo-rizado-front.png" alt="">

                <!-- cejas -->
                <img src="assets\imgs\ojos\cejas.png" alt="">

                <!-- ojos -->
                <img class="ojo-afil part" src="assets\imgs\ojos\ojos-afilados.png" alt="">
                <img class="ojo-caid part" src="assets\imgs\ojos\ojos-caidos.png" alt="">
                <img class="ojo-redo part" src="assets\imgs\ojos\ojos-redondos.png" alt="">

                <!-- narices -->
                <img class="nar-afil part" src="assets\imgs\narices\narices-punta-afilada.png" alt="">
                <img class="nar-redo part" src="assets\imgs\narices\narices-punta-redondeada.png" alt="">

                <!-- bocas -->
                <img class="lab-fin part" src="assets\imgs\labios\labios-finos.png" alt="">
                <img class="lab-gru part" src="assets\imgs\labios\labios-gruesos.png" alt="">
                <img class="lab-fin-gru part" src="assets\imgs\labios\labios-guresos-por-debajo.png" alt="">

            </div>
        </div>

        <div class="loading">
            <img src="assets/imgs/loading.png" alt="">
        </div>

        <div class="avatar-ia">

        </div>
    </div>

    <div class="menu-opciones">
        <div class="container-categorias">
            <div corresponde="des-gen" class="cat-gen elecc">
                genero
            </div>
            <div corresponde="des-car" class="cat-cara elecc">
                cara
            </div>
            <div corresponde="des-pei" class="cat-pei elecc">
                peinado
            </div>
            <div corresponde="des-ojos" class="cat-ojos elecc">
                ojos
            </div>
            <div corresponde="des-nar" class="cat-nar elecc">
                nariz
            </div>
            <div corresponde="des-boc" class="cat-boc elecc">
                boca
            </div>
        </div>

        <div class="container-opciones"> 
            <div class="des-gen elecc-des">
                <div class="gen-elecc-des" texto="una mujer" imagen="tor-fem">
                    <img src="assets\imgs\cuerpos\fem-symbol.png" alt="">
                </div>

                <div class="gen-elecc-des" texto="un hombre" imagen="tor-mas">
                    <img src="assets\imgs\cuerpos\mas-symbol.png" alt="">
                </div>
            </div>
            
            <div class="des-car elecc-des">
                cara1
            </div>

            <div class="des-pei elecc-des">
                peinado1
            </div>

            <div class="des-ojos elecc-des">
                ojos1
            </div>

            <div class="des-nar elecc-des">
                nariz1
            </div>

            <div class="des-boc elecc-des">
                boca1
            </div>
        </div>
    </div>

    <div class="botones">

    </div>
</div>
