img {
    height: 100%;
}

.marco {
    border-bottom: 2px solid #d1d5db;
    display: flex;
    height: 100px;
    padding: 20px 0;
}

.datos {
    width: 100%;
}

button {
    background-color: #0f172a;
    border: none;
    border-radius: 50%;
    padding: 9px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:active {
    background-color: #1e40af;
}

button div {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorito svg {
    color: #f43f5e;
}

.no-favorito {
    color: #94a3b8;
}